

<div class="text-center" >

    <br>
    <br>
    <h1 class="pt-1 text-center big"> Test 1</h1>
    <br>
    <h2 class="pt-1 text-center medium">press buttons for toggling the leds at the rapberry pi server</h2>

    
<button (click)="toggleGreenLed()" type="button" class="mx-5 btn btn-success">Toogle Green Led</button>
<button (click)="toggleYellowLed()" type="button" class="mx-5 btn btn-warning">Toogle Yellow Led</button>
<button (click)="toggleRedLed()" type="button" class="mx-5 btn btn-danger ">Toogle Red Led</button>

  
<!-- 

  <a [routerLink]="['/assets/new']">
  <i class="fa fa-plus"></i>
</a>
<div class="row">
  <div *ngFor="let asset of assets" class="asset col-xs-12 col-sm-3">
    <img [src]="asset.image" />
    <h3> {{ asset.owner }} </h3>
    <p> {{ asset.value }} </p>
    <a [routerLink]="['/assets', asset.id]"> View Details </a>
  </div>
</div> -->
